body{
    background: linear-gradient(rgba(0, 0, 0, .7),rgba(0,0,0,.7),rgba(0,0,0,.8),rgba(0,0,0,.7)),url(images/bg.jpg);
    background-size: cover;
}
.admin-body{
    background: linear-gradient(rgba(0, 0, 0, .7),rgba(0,0,0,.7),rgba(0,0,0,.8),rgba(0,0,0,.7)),url(images/hos-bed1.jpg);
    background-size: cover;
}
.doc-body{
    background: linear-gradient(rgba(0, 0, 0, .7),rgba(0,0,0,.7),rgba(0,0,0,.8),rgba(0,0,0,.7)),url(images/doc.jpg);
    background-size: cover;
}
.patient-body{
    background: linear-gradient(rgba(0, 0, 0, .7),rgba(0,0,0,.7),rgba(0,0,0,.8),rgba(0,0,0,.7)),url(images/patient.jpg);
    background-size: cover;
}
.pharmacy-body{
    background: linear-gradient(rgba(0, 0, 0, .7),rgba(0,0,0,.7),rgba(0,0,0,.8),rgba(0,0,0,.7)),url(images/hos-med.jpg);
    background-size: cover;
}
.pharmacist-body{
    background: linear-gradient(rgba(0, 0, 0, .7),rgba(0,0,0,.7),rgba(0,0,0,.8),rgba(0,0,0,.7)),url(images/pharmacist1.jpg);
    background-size: cover;
}